<% wrap_layout :layout do %>
  <div class="page-header">
    <h2>
      <a href="<%= "https://www.wantedly.com/users/#{current_page.data.wantedly_id}" %>">
        <img src="https://graph.facebook.com/<%= current_page.data.facebook_id %>/picture" />
      </a>
      <%= current_page.title %>
      <br/>
      <small><%= current_page.date.strftime('%b %e') %></small>
    </h2>
  </div>
  <%= yield %>
<% end %>
