<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= current_article.title + ' - ' unless current_article.nil? %>Wantedly Engineer Blog</title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
    <link href="<%= asset_url('favicon.png') %>" rel="icon" type="image/png">
    <meta property="fb:app_id" content="234170156611754">
    <meta property="og:image" content="<%= (current_article && current_article.data.cover_image.presence) || ("http://engineer.wantedly.com" + asset_url('wantedly-sticker2.png')) %>">
    <%= stylesheet_link_tag "application" %>
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-12847756-21']);
    _gaq.push(['_setDomainName', 'wantedly.com']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
  </head>
  <body>
    <header class="jumbotron cover-image center">
      <h1 class="graduate"><a href="/">Wantedly Engineer Blog</a></h1>
      <p>Wantedly 開発チームブログ</p>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <%= yield %>
        </div>
        <div class="col-xs-12 col-md-3 col-md-offset-1">
          <div class="side-article">
            <h4>エンジニア採用中！</h4>
            <a href="https://www.wantedly.com/companies/wantedly/projects">オフィスに遊びに来てお話しませんか？</a>
          </div>
          <iframe frameborder='0' height='305px' name='wantedly_project_widget_29459' scrolling='no' src='https://www.wantedly.com/projects/29459/widget' style='border: none; max-width: 100%; min-width: 240px; width: 540px;'></iframe>
          <iframe frameborder='0' height='305px' name='wantedly_project_widget_25674' scrolling='no' src='https://www.wantedly.com/projects/25674/widget' style='border: none; max-width: 100%; min-width: 240px; width: 540px;'></iframe>
          <div class="side-article">
            <h4>最近の記事</h4>
            <ul>
              <% blog.articles[0...10].each do |article| %>
                <li><%= link_to article.title, article %></li>
              <% end %>
            </ul>
          </div>
          <!--
            <div class="side-article">
              <h4>Tags</h4>
              <ul>
                <% blog.tags.each do |tag, articles| %>
                  <li>- <%= link_to tag, tag_path(tag) %> <small class="gray">(<%= articles.size %>)</small></li>
                <% end %>
              </ul>
            </div>
          -->
          <!--
            <div class="side-article">
              <h4>By Year</h4>
              <ul>
                <% blog.articles.group_by {|a| a.date.year }.each do |year, articles| %>
                  <li>- <%= link_to year, blog_year_path(year) %> <small class="gray">(<%= articles.size %>)</small></li>
                <% end %>
              </ul>
            </div>
          -->
        </div>
      </div>
    </div>
    <footer class="container center">
      <hr/>
      <p>2013 © Wantedly, Inc., All Rights Reserved.</p>
    </footer>

    <%= javascript_include_tag  "application" %>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

  </body>
</html>
